.product-card-container {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 30px;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
}

/* product.css */

.product-card-page-container {
    padding: 20px;
}

@keyframes fadeInPop {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.bot-card {
    animation: fadeInPop 0.5s ease-in-out;
    /* To add a slight delay for staggered effect */
    animation-delay: calc(var(--delay) * 0.1s);
    animation-fill-mode: both; /* Keep the animation's end state */
}

.skeleton-card-container {
    margin-top: 35px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.skeleton-card {
    width: 417px;
    height: 599px;
    background-color: rgba(69, 69, 69, 0.347);
    border-radius: 20px;
    padding: 15px;
}

.skeleton-card-image {
    background-color: rgba(107, 107, 107, 0.474);
    height: 379px;
    width: 100%;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .product-card-container {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        margin-left: 5%;
        margin-right: 5%;
    }

    .person-container {
        padding: 10px;
        height: auto;
    }

    .content-container {
        height: auto;
        margin-left: 0;
    }

    .chat-with-button {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .product-card-container {
        grid-template-columns: 1fr;
        margin-left: 0;
        margin-right: 0;
        gap: 10px;
    }

    .person-container {
        padding: 5px;
        height: auto;
        width: 100%;
    }

    .content-container {
        height: auto;
        margin-left: 0;
    }

    .chat-with-button {
        width: 60%;
        padding: 8px;
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .product-card-container {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        margin-left: 10%;
        margin-right: 10%;
    }

    .person-container {
        height: fit-content;
    }

    .content-container {
        height: 425px;
    }

    .information-container {
        height: fit-content;
        margin: 0px;
    }

    .person-description {
        margin-bottom: 10px;
    }

    .chat-with-button {
        margin-top: 10px;
        width: 60%;
    }
}

@media (min-width: 1440px) {
    .product-card-container {
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
        margin-left: 15%;
        margin-right: 15%;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        height: 510px;
        margin-left: 5px;
    }

    .person-image-container {
        width: 100%;
        border-radius: 20px;
    }

    .chat-with-button {
        margin-top: 10px;
    }
}

