.chat-page-container {
    margin: 0px;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
  }
  
  .user-interface-chat-container {
    flex-grow: 1;
    width: 80%;
  }
  
  .sidebar-chat-page-container {
    width: 20%;
  }
  
  /* Media query to hide sidebar on smaller screens */
  @media (max-width: 768px) {
    .sidebar-chat-page-container {
      display: none;
    }
  
    .user-interface-chat-container {
      width: 100%;
    }
  }
  