.testimonials-container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

.testimonial-card {
    background: rgba(255, 255, 255, 0.1);
    margin-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    width: 300px;
    max-width: fit-content;
    height: 350px;
    padding: 20px;
    transition: 0.5s ease-in-out;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
}

.review-card-div-testimonial-container{
    height: 70%;
}

.review-information-card{
    display:flex;
    align-items: center;
    gap: 15px;
}
.testimonial-card:hover {
    transform: scale(1.05);
}

.profile-picture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 10px;
}

.testimonial-card h3 {
    width: auto;
    height: auto;
    white-space: pre;
    overflow: visible;
    font-weight: 700;
    font-style: normal;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    color: #eaeaea;
    font-size: 20px;
    letter-spacing: -0.8px;
    line-height: 1.4;
    text-align: left;
    position: relative;
}

.testimonial-card p {
    height: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow: visible;
    font-weight: 500;
    font-style: normal;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    color: #eaeaea;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.6;
    text-align: left;
    position: relative;
}

.testimonial-card small {
    display: block;
    margin-top: 10px;
    color: white;
}