.testimonials-container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

.testimonial-card{
    margin-left: 15px;
    background-color: white;
    color: black;
    height: 35vh;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.testimonial-card:hover {
    transform: scale(1.05);
}

.profile-picture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 10px;
}

.testimonial-card h3 {
    margin: 0;
    color: #333;
}

.testimonial-card p {
    font-size: 16px;
    color: #555;
}

.testimonial-card small {
    display: block;
    margin-top: 10px;
    color: #888;
}