.user-profile-page-container{
    display: flex;
    margin: 0px;
    padding: 0;
    flex-direction: row;
}

.sidebar-container-user-profile-page{
    width: 17%;
}

.user-profile-container-user-profile-page{
    width: 83%;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.983);
}