.signup-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.signup-form-container {
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 24px;
    width: 360px;
    background-color: black;
}

.signup-form-heading {
    font-weight: 600;
    color: white;
    font-size: 28px;
    margin: 0 0 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.signup-form-description {
    margin: 0 0 24px;
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.email-input-container {
    position: relative;
    margin-bottom: 15px;
}

.password-input-container {
    position: relative;
    margin-bottom: 17px;
}

.signup-form-container input {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.show-password-button {
    position: absolute;
    right: 12px;
    top: 12px;
    background: none;
    border: none;
    color: rgb(0, 113, 227);    
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.signup-button-container {
    margin-bottom: 16px;
}

.signup-button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 24px;
    background-color: rgb(0, 113, 227);
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-button:hover {
    background-color: #005bb5;
}

.login-page-link-sign-up-page-container{
    text-align: center;
    margin: 0px;
}

.login-page-link-sign-up-page-container p{
    margin: 0px;
}

.divider {
    display: flex;
    align-items: center;
    margin: 24px 0;
}

.divider-line {
    flex: 1;
    height: 1px;
    background-color: #ddd;
    border: none;
}

.divider-text {
    margin: 0 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}

.alternative-signup-button-container {
    margin-bottom: 16px;
    text-align: center;
}


.login-page-link-sign-up-page-container p{
    color: white;
}


.alternative-signup-button:hover {
    background-color: #f7f7f7;
}