.feedback-form-container{
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    padding-left: 20px;
    width: 80%;
    margin-left: 10%;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 8vh;
    background-color: black;
}

.feedback-heading-container h1{
    color: white;
    font-family: "Inter";
    margin-bottom: 10px;
}

.feedback-heading-container h2{
    margin-top: 5px;
    color: white;
    font-family: "Inter";
}

.feedback-form-container-form{
    width: 95%;
    display: flex;
    flex-direction: column;
}

.feedback-form-container-form input{
    padding: 12.5px;
    margin-top: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    color: black;
    font-size: 15.5px;
    outline: transparent;
    font-family: "Inter";
}

.feedback-form-container-form textarea{
    margin-top: 15px;
    height: 15vh;
    outline: transparent;
    padding: 10px;
    font-family: "Inter";
    font-size: 15.5px;
    border-radius: 15px;
}

.feedback-form-container-form button{
    width: 50%;
    background-color: #007bff;
    color: white;
    font-size: 15px;
    margin-left: 25%;
    font-family: "Inter";
    padding: 13px;
    margin-top: 20px;
    margin-bottom: 5vh;
    border: transparent;
    border-radius: 15px;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.feedback-form-container-form button:hover{
    transform: scale(1.05);
}

.contact-support-div{
    color: white;
    font-family: "Inter";
}

.contact-support-div h3{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    align-items: center;
}