/* botCard.css */
.person-container {
    border: 1px solid white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 598px;
    border-radius: 30px;
    background: linear-gradient(180deg, #1e1e1e 0%, rgb(20, 20, 20) 100%);
    border: 1px solid #262626;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: 0.5s ease-in-out;
}

.person-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8); /* Darker and more prominent shadow */
}

.content-container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 520px;
    margin-left: 5px;
}

.person-image-container {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
}

.person-name {
    margin-top: 5px;
    margin-bottom: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    color: var(--Light_500, #cccccc);
    line-height: 1.2;
}

.person-description {
    margin-top: 5px;
    margin-bottom: 40px;
    width: 100%;
    height: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow: visible;
    font-weight: 500;
    font-style: normal;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    color: var(--token-1021654d-251a-4750-952b-de3f7005260e, #888888);
    font-size: 18px;
    letter-spacing: -0.5px;
    line-height: 1.4;
    text-align: left;
}

.chat-with-button {
    background-color: rgb(10, 88, 255);
    border-radius: 30px;
    border: 0px;
    width: 90px;
    height: 50px;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.chat-with-button:hover {
    transform: scale(1.1);
    background-color: #005bb5; /* Darker shade on hover */
}

.bot-card {
    animation: fadeIn 0.5s ease-in-out forwards;
    animation-delay: var(--delay);
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
