/* botCard.css */
.person-container {
    border: 1px solid white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 598px;
    border-radius: 20px;
    background-color: #000000; /* Dark background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Darker shadow */
    text-align: left;
    transition: 0.5s ease-in-out;
}

.person-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8); /* Darker and more prominent shadow */
}

.content-container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 520px;
    margin-left: 5px;
}

.person-image-container {
    width: 100%;
    border-radius: 20px;
}

.person-name {
    margin-top: 5px;
    margin-bottom: 0;
    font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff; /* White text for contrast */
}

.person-description {
    margin-top: 5px;
    margin-bottom: 40px;
    font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #b0b0b0; /* Lighter grey text for contrast */
}

.chat-with-button {
    width: 30%;
    background-color: #0071e3; /* Darker blue */
    text-align: center;
    border: transparent;
    color: white;
    border-radius: 30px;
    padding: 13px 20px 15px;
    font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 630;
    font-size: 15px;
    transition: 0.5s ease-in-out;
}

.chat-with-button:hover {
    transform: scale(1.1);
    background-color: #005bb5; /* Darker shade on hover */
}

.bot-card {
    animation: fadeIn 0.5s ease-in-out forwards;
    animation-delay: var(--delay);
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
