.navbar-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-navbar-heading-auth{
    width: fit-content;
    gap: 20px;
    border-radius: 30px;
    display: flex;
    margin-top: 20px;
    padding: 10px;
    flex: row;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.197);
}

.about-button-landing:hover, .learn-more-button-landing:hover, .meet-team-button-landing:hover, .blog-team-button:hover{
    transform: scale(1.1);
}

.navbar-header svg {
    margin-top: 2px;
}

.navbar-header img{
    width: 80px;
}

.buttons-container {
    display: flex;
    margin-right: 20px;
    gap: 20px;
}

.buttons-authenticated-container {
    display: flex;
    margin-right: 20px;
    gap: 20px;
    position: relative;
}

.help-button-support-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 15px;
    color: white;   
    font-weight: 500;
    transition: 0.5s ease-in-out;
    background-color: transparent;
    border: transparent;
}

#help-button-support {
    font-size: 30px;
    color: white;
}

.help-button-support-button:hover {
    transform: scale(1.1);
}

.profile-button {
    border: transparent;
    background-color: transparent;
}

#account-circle-image-google-fonts {
    font-size: 50px;
    color: white;
    transition: 0.5s ease-in-out;
}

#account-circle-image-google-fonts:hover {
    transform: scale(1.2);
}

.buttons-container button:hover {
    transform: scale(1.1);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 20px;
    background-color: #131313d4;
    color: white;
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.8);
    z-index: 1;
    align-items: center;
}

.user-photoUrl-navbar-authenticated {
    width: 50px;
    border-radius: 50%;
}

.dropdown-menu span {
    font-size: 27px;
}

.dropdown-menu div {
    margin-top: 10px;
}

.dropdown-item {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    color: white;
    border: none;
    background: none;
    width: 100%;
}

.create-a-new-bot {
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 15px;
    background-color: white;
    color: rgb(0, 0, 0);   
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    border: transparent;
}

.create-a-new-bot:hover {
    transform: scale(1.1);
}

.hamburger-menu {
    display: none;
    background-color: transparent;
    color: white;
    border: transparent;
}

#material-hamburger-menu {
    font-size: 37px;
}

/* Add this media query to make the navbar responsive */
@media (max-width: 768px) {
    .navbar-container{
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding-left: 20px;
        gap: 60%;
        align-items: center;
    }

    .hamburger-menu {
        display: block;
        position: fixed;
    }

    .dropdown-menu{
        display: none;
    }

    .buttons-authenticated-container {
        display: none;
    }

    .buttons-authenticated-container.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px; /* Adjust based on your navbar height */
        right: 0;
        background-color: #000000;
        padding: 20px;
        z-index: 999;
        text-align: left;
        width: 100%;
    }
    
    #help-button-support{
        font-size: 40px;
    }

    .help-button-support-button{
        font-size: 18px;
        margin-left: 15px;
        width: fit-content;
    }

    .create-a-new-bot{
        width: fit-content;
        margin-left: 15px;
        font-size: 18px;
    }
    .profile-button{
        margin-left: 15px;
        text-align: left;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .profile-button h1{
        color: white;
        font-family: "Inter";
        font-size: 18px;
        font-weight: 350;
    }


    .navbar-header {
        width: 100%;
        justify-content: space-between;
    }


    .to-home-button-navbar {
        font-size: 24px;
    }
}
