.navbar-container-home {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.inner-navbar-container-div{
    width: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    flex: row;
    gap: 20px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.197);
}

.navbar-header{
    margin: 0px;
    padding: 0px;
}

.navbar-header a{
    margin: 0px;
    padding: 0px;
}

.navbar-header img{
    width: 80px;
}


.buttons-container {
    display: flex;
    margin: 0px;
    gap: 0px;
}

.login-button-navbar-home, .sign-up-button{
    background-color: rgb(10, 88, 255);
    border-radius: 30px;
    border: 0px;
    width: 90px;
    height: 50px;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.about-button-landing, .learn-more-button-landing, .meet-team-button-landing, .blog-team-button{
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 15px;
    color: white;   
    font-weight: 500;
    transition: 0.5s ease-in-out;
    background-color: transparent;
    border: transparent;
}


.buttons-container button:hover {
    transform: scale(1.1);
}

/* Extra Small Devices (Phones, < 576px) */
@media (max-width: 575.98px) {
    .login-button-navbar-home, .sign-up-button{
        font-size: 15px;
    }

    .about-button-landing, .learn-more-button-landing, .meet-team-button-landing{
        display: none;
    }
}

/* Small Devices (Landscape Phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        padding: 20px;
    }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        padding: 30px;
    }
}

/* Large Devices (Laptops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        padding: 40px;
    }
}

/* Extra Large Devices (Large Laptops and Desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        padding: 50px;
    }
}

