@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/SF-Pro-Text-Regular.woff2') format('woff2'),
       url('/fonts/SF-Pro-Text-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.hero-section-container {
  position: relative;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  padding-top: 10vh;
  text-align: center;
  height: 50vh;
  background: #000; /* Ensure the background is black */
  color: #fff;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
}

.grid-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px),
              linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
              linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px),
              linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px);
  background-size: 20px 20px, 20px 20px, 100px 100px, 100px 100px;
  background-position: 0 0, 10px 10px, 0 0, 50px 50px;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(127,0,255,0.5), rgba(255,0,255,0.5));
  mix-blend-mode: overlay;
  opacity: 0.3;
}.website-mockup-container {
  position: relative;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
  overflow: hidden;
}

.website-mockup-container img {
  width: 60%;
  border-radius: 20px;
  border: 2px solid white;
  animation: borderColorChange 3s infinite;
}

@keyframes borderColorChange {
  0% {
    border-color: rgb(214, 214, 214);
  }
  33% {
    border-color: rgb(212, 2, 205);
  }
  66% {
    border-color: rgb(5, 5, 189);
  }
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.6;
  animation: float 5s infinite;
  mix-blend-mode: screen;
}

.circle:nth-child(1) {
  width: 100px;
  height: 100px;
  background: rgba(255, 0, 255, 0.3);
  top: 10%;
  left: 5%;
  animation-delay: 0s;
}

.circle:nth-child(2) {
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 255, 0.3);
  top: 60%;
  left: 10%;
  animation-delay: 2s;
}

.circle:nth-child(3) {
  width: 200px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  top: 60%;
  left: 83%;
  animation-delay: 4s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}


.hero-heading,
.welcome-heading-hero-section {
  position: relative;
  z-index: 1;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 60px; /* Adjust size as needed */
  font-weight: bolder;
  font-family: 'SF Pro Text', Arial, Helvetica, sans-serif;
}

.heading--highlight {
  font-size: 60px; /* Adjust size as needed */
  font-weight: 650;
  font-family: 'SF Pro Text', Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, #7f00ff, pink, #e100ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
  padding: 20px 0;
  animation: colorChange 3s ease-in-out infinite alternate;
}

.hero-description-container {
  margin-left: 23%;
  margin-right: 23%;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  color: white;
}

.hero-description-container h3 {
  font-weight: 530;
  animation: fadeIn 3s ease-out;
}

.join-now-button-container {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.join-now-hero-section-button {
  border: transparent;
  border-radius: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 12px 40px;
  font-size: 18px;
  color: white;
  background-color: rgb(0, 113, 227);
  font-weight: 500;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  animation: fadeIn 2.5s ease-out;
}

.join-now-hero-section-button:hover {
  transform: scale(1.1);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes colorChange {
  0% {
    color: purple;
  }
  100% {
    color: black;
  }
}
