/* Keyframes for gradient animation */
@keyframes gradientAnimation {
  0% {
    background: radial-gradient(circle at center, #6b4db0, #66a3b7);
  }
  25% {
    background: radial-gradient(circle at center, #5fd0f6, #7840fa);
  }
  50% {
    background: radial-gradient(circle at center, #8450ff, #1bc6ff);
  }
  75% {
    background: radial-gradient(circle at center, #5fd0f6, #7840fa);
  }
  100% {
    background: radial-gradient(circle at center, #6b4db0, #66a3b7);
  }
}

.hero-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 45%;
  padding: 0 2%;
  height: 90vh;
  color: black;
  animation: gradientAnimation 15s ease infinite;
  border-radius: 50%;
  background-size: 400% 400%;
  overflow: hidden;
  margin: 0 auto;
  transition: 1s ease-in-out;
  margin-bottom: 80px;
}


/* Website mockup container styling */
.website-mockup-container {
  position: relative;
  text-align: center;
  padding: 100px 0 40px;
  overflow: hidden;
}

.website-mockup-container img {
  width: 60%;
  border-radius: 20px;
  border: 2px solid #fff;
  animation: borderColorChange 1s infinite;
}

/* Keyframes for border color change */
@keyframes borderColorChange {
  0% {
    border-color: rgb(143, 120, 120);
  }
  33% {
    border-color: rgb(212, 2, 205);
  }
  66% {
    border-color: rgb(5, 5, 189);
  }
}


/* Hero heading styling */
.hero-heading,
.welcome-heading-hero-section {
  position: relative;
  z-index: 1;
  color: black;
  margin: 0;
  font-size: 60px;
  font-weight: 549;
  font-family: 'SF Pro Text', Arial, Helvetica, sans-serif;
}

/* Highlighted heading styling */
.heading--highlight {
  font-size: 60px;
  font-weight: 500;
  font-family: 'SF Pro Text', Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, #f7bebe, rgb(205, 127, 140), #f248e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
  padding: 20px 0;
  animation: colorChange 3s ease-in-out infinite alternate;
}

/* Hero description container styling */
.hero-description-container {
  margin: 0 2% 20px;
  text-align: center;
  position: relative;
  z-index: 1;
  color: rgb(0, 0, 0);
}

.hero-description-container h3 {
  font-weight: 530;
  animation: fadeIn 3s ease-out;
}

/* Join now button container styling */
.join-now-button-container {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

/* Join now button styling */
.join-now-hero-section-button {
  border: transparent;
  border-radius: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 12px 40px;
  font-size: 18px;
  color: white;
  background-color: rgb(0, 113, 227);
  font-weight: 500;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  animation: fadeIn 2.5s ease-out;
}

.join-now-hero-section-button:hover {
  transform: scale(1.1);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.5);
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Keyframes for color change animation */
@keyframes colorChange {
  0% {
    color: purple;
  }
  100% {
    color: black;
  }
}
