.hero-section-container{
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #000000;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 20;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.hero-section-container h1{
  margin-top: 14vh;
  width: 40%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: -2.6px;
  line-height: 1.2;
  margin-bottom: 0;
  text-align: center; 
}

.hero-section-container h3{
  width: 390px;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  overflow: visible;
  font-weight: 500;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #888888;
  font-size: 24px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  text-align: center;
}

.button-section-container-hero{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 95px;
}

.join-now-hero-section-button{
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 0.7065919983928324px 0.7065919983928324px -0.625px rgba(0, 0, 0, 0.15), 0px 1.8065619053231785px 1.8065619053231785px -1.25px rgba(0, 0, 0, 0.14398), 0px 3.6217592146567767px 3.6217592146567767px -1.875px rgba(0, 0, 0, 0.13793), 0px 6.8655999097303715px 6.8655999097303715px -2.5px rgba(0, 0, 0, 0.12711), 0px 13.646761411524492px 13.646761411524492px -3.125px rgba(0, 0, 0, 0.10451), 0px 30px 30px -3.75px rgba(0, 0, 0, 0.05);
  background-color: #222222;
  overflow: visible;
  border: transparent;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 8px;
  width: auto;
  height: auto;
  white-space: pre;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.learn-more-button-hero{
  box-sizing: border-box;
  width: min-content;
  height: 40px;
  border: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #ebebeb;
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 8px;
  width: auto;
  height: auto;
  white-space: pre;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.join-now-hero-section-button:hover{
  transform: scale(1.1);
}

.learn-more-button-hero:hover{
  transform: scale(1.1);
}

/* Extra Small Devices (Phones, < 576px) */
@media (max-width: 575.98px) {
  .hero-section-container h1{
    font-size: 50px;
    width: 85%;
    margin-top: 10vh;
  }
}

/* Small Devices (Landscape Phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .hero-section-container{
    width: 100%;
    margin: 0;
  }
  .hero-section-container h1{
    font-size: 55px;
    width: 85%;
    margin-top: 10vh;
  }

  .button-section-container-hero{
    margin-bottom: 0px;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-section-container h1{
    font-size: 55px;
    width: 85%;
    margin-top: 10vh;
  }
}


/* Extra Large Devices (Large Laptops and Desktops, 1200px and up) */
@media (min-width: 2000px) {
  .hero-section-container h1{
    font-size: 100px;
    margin-top: 7vh;
  }
}
