@keyframes fadeInSlideUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .blog-page-container {
    height: 100vh;
    width: 100%;
    background-color: black;
  }
  
  .heading-blog-container {
    padding-left: 17%;
  }
  
  .heading-blog-container h1 {
    margin-top: 8vh;
    height: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    font-weight: 700;
    font-style: normal;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    color: #ffffff;
    font-size: 70px;
    letter-spacing: -2.6px;
    line-height: 1.2;
    margin-bottom: 0;
    opacity: 0;
    animation: fadeInSlideUp 1s ease-out forwards;
    animation-delay: 0.5s;
  }
  
  .blog-page-container h3 {
    height: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    overflow: visible;
    margin-top: 10px;
    font-weight: 500;
    font-style: normal;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    color: #b1b1b1;
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 1.5;
    opacity: 0;
    animation: fadeInSlideUp 1s ease-out forwards;
    animation-delay: 1.5s;
  }
  
  .blog-collection-container {
    margin-left: 16%;
    margin-right: 25%;
    margin-top: 4vh;
  }
  
  .blog-card {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 15px;
    border-radius: 25px;
    transition: 0.3s ease-in;
  }
  
  .blog-card:hover {
    background-color: rgba(81, 81, 81, 0.678);
  }
  
  .blog-card-image {
    width: 15%;
  }
  
  .blog-card-image img {
    width: 100%;
    border-radius: 20px;
  }
  
  .blog-card h1 {
    height: auto;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: 600;
    font-style: normal;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    color: white;
    font-size: 24px;
    letter-spacing: -0.7px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 5px;
  }
  
  .blog-card-content h3 {
    width: auto;
    height: auto;
    font-weight: 500;
    font-style: normal;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    color: #979797;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.6;
    text-align: left;
  }
  
  .blog-card-description {
    margin-top: 5px;
    width: auto;
    height: auto;
    font-weight: 500;
    font-style: normal;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    color: #cbcbcb;
    font-size: 17px;
    letter-spacing: 0em;
    line-height: 1.6;
    text-align: left;
  }
  